<% if(typeof errors != 'undefined') { %> <% errors.forEach((error)=>{ %>
<div class="chip right orange lighten-1 error">
  <%= error.msg %>
  <i class="close material-icons">close</i>
</div>
<% }); %> <% } %> <% if(success_msg!='') { %>
<div class="chip right green lighten-1 error white-text">
  <%=success_msg%>
  <i class="close material-icons">close</i>
</div>
<% } %> <% if(error_msg!='') { %>
<div class="chip right orange lighten-1 error">
  <%=error_msg%>
  <i class="close material-icons">close</i>
</div>
<% } %> <% if(error!='') { %>
<div class="chip right orange lighten-1 error">
  <%=error%>
  <i class="close material-icons">close</i>
</div>
<% } %>
