<div class="navbar-fixed">
  <nav class="cyan accent-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <i class="material-icons large">edit</i> Blogstagram</a
      >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <div class="">
            <form action="/user/panel" class="search-form" method="POST">
              <div class="input-field">
                <i class="material-icons tiny prefix">search</i>
                <input
                  type="text"
                  id="search"
                  class="white-text"
                  name="search"
                />
                <label for="search" class="white-text">Search</label>
              </div>
            </form>
          </div>
        </li>
        <li><a href="/user/panel">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
