<article class="col s10 offset-s1 z-depth-2">
  <h1 class="title">
    Article One
    <span class="chip">Women</span><span class="chip">Communication</span>
  </h1>
  <i class="material-icons">edit</i>
  <span class="author">Author</span>
  <span class="date right">24-6-2020</span>
  <i class="material-icons right">today</i>
  <p class="body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque labore ipsam
    praesentium sequi modi quam similique, voluptatibus reprehenderit provident?
    Laudantium!
  </p>
  <a href="#/" class="waves-effect waves-light btn pink accent-2">Read More</a>
  <a
    href="#/"
    class="waves-effect waves-light disabled btn-floating btn-large red right"
  >
    <i class="material-icons small">close</i>
  </a>
  <a
    href="#/"
    class="waves-effect waves-light btn-floating btn-large pink accent-2 right"
  >
    <i class="material-icons small">edit</i>
  </a>
</article>
