<h1 class="sub-head">
  Add Article
</h1>
<hr />
<div class="article-form z-depth-2">
  <form action="">
    <div class="input-field">
      <i class="material-icons prefix">title</i>
      <input type="text" id="title" />
      <label for="title">Title</label>
    </div>
    <div class="input-field">
      <i class="material-icons prefix">description</i>
      <textarea name="" id="body" class="materialize-textarea"></textarea>
      <label for="body">Content</label>
    </div>
    <div class="col s12 btn-box">
      <button class="btn cyan accent-4 waves-effect waves-light" type="submit">
        Add Post
      </button>
    </div>
  </form>
</div>
