<div class="navbar-fixed">
  <nav class="cyan accent-4">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <i class="material-icons large">edit</i> Blogstagram</a
      >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>
<section class="sec-1" id="sec-1">
  <div class="row">
    <div class="col s3 profile grey lighten-1">
      <h4 class="sub-head pink lighten-1 white-text valign-wrapper z-depth-4">
        PROFILE
        <i class="material-icons medium">perm_identity</i>
      </h4>
      <div class="card z-depth-3">
        <div class="card-image">
          <img src="../public/imgs/download.png" alt="" />
        </div>
        <div class="card-content">
          <span class="card-title">UserName</span>
          <p>
            I am a very simple card. I am good at containing small bits of
            information.I am convenient because I require little markup to use
            effectively.
          </p>
          <div class="chip left z-depth-2">Followers - 100</div>
          <div class="chip right z-depth-2">Following - 20</div>
        </div>
        <div class="card-action-box">
          <a
            class="btn-floating btn-large waves-effect waves-light pink lighten-1"
            ><i class="material-icons">add</i>
          </a>
          <span>Follow</span>
        </div>
      </div>
    </div>
    <div class="col s9 offset-s3 content">
      <div class="row">
        <div class="col s12 main-content">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#feed">Feed</a></li>
            <li class="tab">
              <a href="#dashboard">DashBoard</a>
            </li>
            <li class="tab">
              <a class="active" href="#add">WorkSpace</a>
            </li>
            <li class="tab">
              <a href="#edit-profile">Edit Profile</a>
            </li>
          </ul>
        </div>
        <div id="feed" class="col s12">
          <div class="area row">
            <article class="col s10 offset-s1 z-depth-2">
              <h1 class="title">
                Article One
                <span class="chip">Women</span
                ><span class="chip">Communication</span>
              </h1>
              <i class="material-icons">edit</i>
              <span class="author">Author</span>
              <span class="date right">24-6-2020</span>
              <i class="material-icons right">today</i>
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                labore ipsam praesentium sequi modi quam similique, voluptatibus
                reprehenderit provident? Laudantium!
              </p>
              <a href="#/" class="waves-effect waves-light btn pink accent-2"
                >Read More</a
              >
            </article>
            <article class="col s10 offset-s1 z-depth-2">
              <h1 class="title">
                Article One
                <span class="chip">Women</span
                ><span class="chip">Communication</span>
              </h1>
              <i class="material-icons">edit</i>
              <span class="author">Author</span>
              <span class="date right">24-6-2020</span>
              <i class="material-icons right">today</i>
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                labore ipsam praesentium sequi modi quam similique, voluptatibus
                reprehenderit provident? Laudantium! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Voluptatibus deleniti, repellendus
                ullam, necessitatibus iusto enim dolorum nisi corrupti
                temporibus modi, iste ipsa natus nulla possimus! Similique
                tempore reprehenderit perspiciatis. Hic enim earum aut officia
                omnis beatae dolorem sint aliquid praesentium iste eligendi eum
                modi quae nemo architecto saepe delectus, rerum magni! A eius
                exercitationem, perspiciatis beatae adipisci sit. Non repellat
                tempora in. Ratione quam laborum corporis animi officia expedita
                aut quod, odio consequatur minus suscipit, ipsa, incidunt
                accusantium rem cum! Laudantium provident, facilis soluta
                maiores voluptatum voluptate harum impedit placeat non culpa,
                pariatur at. Aut officiis nemo quaerat commodi deserunt.
              </p>
              <a href="#/" class="waves-effect waves-light btn pink accent-2"
                >Read More</a
              >
            </article>
          </div>
        </div>

        <div id="dashboard" class="col s12">
          <h1 class="sub-head">
            Your Articles
          </h1>
          <hr />
          <div class="area row">
            <article class="col s10 offset-s1 z-depth-2">
              <h1 class="title">
                Article One
                <span class="chip">Women</span
                ><span class="chip">Communication</span>
              </h1>
              <i class="material-icons">edit</i>
              <span class="author">Author</span>
              <span class="date right">24-6-2020</span>
              <i class="material-icons right">today</i>
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                labore ipsam praesentium sequi modi quam similique, voluptatibus
                reprehenderit provident? Laudantium!
              </p>
              <a href="#/" class="waves-effect waves-light btn pink accent-2"
                >Read More</a
              >
              <a
                href="#/"
                class="waves-effect waves-light disabled btn-floating btn-large red right"
              >
                <i class="material-icons small">close</i>
              </a>
              <a
                href="#/"
                class="waves-effect waves-light btn-floating btn-large pink accent-2 right"
              >
                <i class="material-icons small">edit</i>
              </a>
            </article>
            <article class="col s10 offset-s1 z-depth-2">
              <h1 class="title">
                Article One
                <span class="chip">Women</span
                ><span class="chip">Communication</span>
              </h1>
              <i class="material-icons">edit</i>
              <span class="author">Author</span>
              <span class="date right">24-6-2020</span>
              <i class="material-icons right">today</i>
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                labore ipsam praesentium sequi modi quam similique, voluptatibus
                reprehenderit provident? Laudantium!
              </p>
              <a href="#/" class="waves-effect waves-light btn pink accent-2"
                >Read More</a
              >
              <a
                href="#/"
                class="waves-effect waves-light disabled btn-floating btn-large red right"
              >
                <i class="material-icons small">close</i>
              </a>
              <a
                href="#/"
                class="waves-effect waves-light btn-floating btn-large pink accent-2 right"
              >
                <i class="material-icons small">edit</i>
              </a>
            </article>
            <article class="col s10 offset-s1 z-depth-2">
              <h1 class="title">
                Article One
                <span class="chip">Women</span
                ><span class="chip">Communication</span>
              </h1>
              <i class="material-icons">edit</i>
              <span class="author">Author</span>
              <span class="date right">24-6-2020</span>
              <i class="material-icons right">today</i>
              <p class="body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                labore ipsam praesentium sequi modi quam similique, voluptatibus
                reprehenderit provident? Laudantium!
              </p>
              <a href="#/" class="waves-effect waves-light btn pink accent-2"
                >Read More</a
              >
              <a
                href="#/"
                class="waves-effect waves-light disabled btn-floating btn-large red right"
              >
                <i class="material-icons small">close</i>
              </a>
              <a
                href="#/"
                class="waves-effect waves-light btn-floating btn-large pink accent-2 right"
              >
                <i class="material-icons small">edit</i>
              </a>
            </article>
          </div>
        </div>
        <div id="add" class="col s12">
          <h1 class="sub-head">
            Add Article
          </h1>
          <hr />
          <div class="article-form z-depth-2">
            <form action="">
              <div class="input-field">
                <i class="material-icons prefix">title</i>
                <input type="text" id="title" />
                <label for="title">Title</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">description</i>
                <textarea
                  name=""
                  id="body"
                  class="materialize-textarea"
                ></textarea>
                <label for="body">Content</label>
              </div>
              <div class="col s12 btn-box">
                <button
                  class="btn cyan accent-4 waves-effect waves-light"
                  type="submit"
                >
                  Add Post
                </button>
              </div>
            </form>
          </div>
        </div>
        <div id="edit-profile" class="col s12"></div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", e => {
    var instance = M.Tabs.init(document.querySelector(".tabs"), {});
  });
</script>
